<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="dependencyVersion" value="Highest" />
    <add key="globalPackagesFolder" value="build/global-packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Nowy" value="https://pkgs.dev.azure.com/schulz-dev/nowy/_packaging/Nowy1/nuget/v3/index.json" />
  </packageSources>
</configuration>
