<div
    @attributes="AdditionalAttributes"
    class="btn-toolbar @(_class)"
    style="gap: 0.5rem; @(JustifyContentSpaceBetween ? "justify-content: space-between;" : "") @(_style)"
    role="toolbar">

    @(ChildContent)
</div>


@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object?> AdditionalAttributes { get; set; } = new Dictionary<string, object?>();

    private string _class => AdditionalAttributes?.Get("class", null)?.ToString() ?? string.Empty;
    private string _style => AdditionalAttributes?.Get("style", null)?.ToString() ?? string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool JustifyContentSpaceBetween { get; set; }

}
